@keyframes color-change{
    0%{ color:blue; font-size: 20px;}
    50%{color:red;}
    100%{color:blue; font-size: 25px;}


}

body {
    font-family: Arial,  sans-serif; /* Familia de fuentes */
    font-size: 11px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #5988FF; /* El color del fondo de la página web */
    color: #000000; /* El color del texto h2 o subtitulo*/ 
}

h1:hover {
    animation:color-change 3s infinite;

}

h1 {
    color: #FFFFFF;
}

p{
    color: #D6FF6B;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color:#FFFFFF;
    font-family: 'Times New Roman', Times, serif
}

h1, h2, p {
    text-align: center;
}

h1.round {
    border: 2px;
    background-color: hsl(216, 100%, 50%);
    border-radius: 12px;
    padding: 5px;
}

h1.round1 {
    border: 2px;
    background-color: hsl(133, 92%, 35%);
    border-radius: 12px;
    padding: 5px;
}

div.center {
    width: 600px;
    margin: auto;
    border: 1px;
}

div.centro {
    width: 430px;
    margin: auto;
    border: 1px; 
}

.goku_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.video_1
 {
    display: block;
    margin-left: auto;
    margin-right: auto;

 }

 .clima {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }